/*
Theme Name: twentytwentyone-child
Template: twentytwentyone
*/

/* Задаем параметры верхнего блока на главной странице сайта */
.custom_top_block {
    width: 100%;
    height: 70px;
    background: red;
    position: absolute;
    top: 0;
}

/* Меняем оформление записей на главной странице */
.entry-header h2 {
    color: darkcyan;
    padding: 5px 10px;
    border: 1px dashed gray;
    border-radius: 6px;
}

.entry-footer {
    border-bottom: none !important;
}

/* Меняем оформление заголовка одиночной записи */
.post-single-title {
    color: green;
    text-align: center;
}
